* {
  margin-left: 0;
}
header,
footer {
  text-align: center;
}
footer {
  background-color: #f3eeee;
  position: fixed;
  padding: 1px;
  bottom: 0;
  width: 100%;
}

/* table styling */
table {
  border-collapse: collapse;
  margin-bottom: 100px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: rgb(228, 228, 228);
}

tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}
.table {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  justify-content: center;
}

.githubProfilePic {
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
}

input[type="text"],
input[type="email"] {
  padding: 5px;
  height: 25px;
  width: 20rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4caf50;
  width: 20rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  border: 1px solid #ccc;
}
